/* Add a pink background color to the top navigation */
.topnav {
    background-color: pink;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: hotpink;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: hotpink;
    color: white;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    margin-top: auto;
    top: 60px;
}

.image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

box {
   padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
